#flashcards {
    padding-top: 10px !important;
}

#container-flashcards {
    padding-left: 0px !important;
}

/*.container {
    background-color: rebeccapurple;
}*/

.card-img-top {
    height: 60% !important;
    width: 60% !important;
}

.img-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.no-padding {
    padding: 0px !important;
    margin: 0px !important;
}

.numero-votos {
    padding-left: 1px !important;
    padding-right: 5px !important;
    display: inline-block;
    flex-grow: 3;
}

.buttonRows {
    display: flex;
    flex-wrap: wrap;
    
}

.buttons1 {
    display: inline-block;
    flex-grow: 1;
}