{% extends 'core/layout.html' %}
{% load static %}
{% block cssPath %}
    <link rel="stylesheet" href="{% static 'core/styleContent.css' %}" type="text/css"/>
{% endblock cssPath %}
{% block title %}
    Edit {{form.titulo.value}}
{% endblock title %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>

{% block title %}
    Edit 
{% endblock title %}

{% block body %}
    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            {% comment %} editar, poner las weas de las preguntas abiertas {% endcomment %}
            <input type="submit" value="Update">
        </form>
    {% endif %}
{% endblock body %}