{% extends 'core/layout.html' %}
{%include 'core/tiny.js'%}
{% load static %}

{%block cssPath%}
<link rel="stylesheet" href="{% static 'core/styleContent.css' %}"  type="text/css"/>
{%endblock cssPath%}

{% block title %}
    {{flash.titulo}}
{% endblock title %}

{% block body %}
<div class="document-container">
    <h1 id="titulo">{{flash.titulo}}</h1>
    <br>
    <h3>{{flash.filtro}}</h3>
    <div>{{flash.descripcion}}</div>
    <br>
    <div class="document-content">{{flash.contenido|safe}}</div>
    <br>
    <div class="like-dislike">
        <p class="votos" id="votos">{{flash.voto}}</p>
        <!--Verifica si previamente el usuario había votado positivo(1), negativo(0) o no ha votado (-1)-->
        <button class="voto btn btn-success" id="positivo" data-catid="{{flash.id}}" {% if voto == 1%} value="selected" {%else%} value="unselected" {%endif%}>Me gusta :D</button>
        <button class="voto btn btn-danger" id="negativo" data-catid="{{flash.id}}" {% if voto == 0%} value="selected" {%else%} value="unselected" {%endif%}>No me gusta >:(</button>
    </div>    
</div>

<script>
$('#positivo').click(function(){
    var catid;
    catid = $(this).attr('data-catid');
    $.ajax({
        type: 'POST',
        url: '{% url "voto:votoFlash" %}',
        data:{
            id : catid,
            tipo : 1,
            csrfmiddlewaretoken:"{{csrf_token}}",
            action: 'post',
        },
        success: function(json){
            document.getElementById("votos").innerHTML = json.voto
            if( document.getElementById('positivo').getAttribute('value') == 'selected'){   /*Si se selecciona Positivo y estaba "Selected", cambia a "Unselected"*/
                document.getElementById('positivo').setAttribute('value','unselected');
            }else{                                                                          /*Si se selecciona Positivo y estaba "Unselected" cambia a "Selected"*/
                document.getElementById('positivo').setAttribute('value','selected');
                if(document.getElementById('negativo').getAttribute('value') == 'selected'){/*Si estaba seleccionado Negativo, Negativo cambia a "Unselected"*/
                    document.getElementById('negativo').setAttribute('value','unselected');
                }
            }
        },
        error: function(xhr,errmsg,err){}
    })
});
$('#negativo').click(function(){
    var catid;
    catid = $(this).attr('data-catid');
    $.ajax({
        type: 'POST',
        url: '{% url "voto:votoFlash" %}',
        data:{
            id : catid,
            tipo: -1,
            csrfmiddlewaretoken:"{{csrf_token}}",
            action: 'post',
        },
        success: function(json){
            document.getElementById("votos").innerHTML = json.voto
            if( document.getElementById('negativo').getAttribute('value') == 'selected'){/*Si se selecciona Negativo y estaba"Selected", cambia a "Unselected"*/
                document.getElementById('negativo').setAttribute('value','unselected');
            }else{                                                                      /*Si se selecciona Negativo y estaba "Unselected" cambia a "Selected"*/
                document.getElementById('negativo').setAttribute('value','selected');
                if(document.getElementById('positivo').getAttribute('value') == 'selected'){/*Si estaba seleccionado Negativo, Positivo cambia a "Unselected"*/
                    document.getElementById('positivo').setAttribute('value','unselected');
                }
            }
        },
        error: function(xhr,errmsg,err){}
    })
});
</script>

{% endblock body %} 