{% extends 'core/layout.html' %}
{% load static %}

{% block title %}
    HOME
{% endblock title %}

{% block body %}
    <section id="frase">
        <div id="eslogan">Crea, aprende y práctica con Plank </div>
        {% comment %} <div id="probarBtn">boton tal vez</div> {% endcomment %}
        <div id="imgnCentral">
            <img id="cntral" src="{% static 'core/estudiando-portada.png' %}">
        </div>
    </section>
    <section id="persuadirInfo">
        <div id="persuadirInfoTit"> La web para estudiantes creada por estudiantes </div>
        <div id="persuConts">
            <div id="persuCont1">
                <!--poner tal vez aquí una imagen por cada tarjetita-->
                <div id="persuTit1">Explora nuevos temas</div>
                <div id="persuInfo1">
                    Podrás acceder a distintos apuntes de usuarios.
                </div>
            </div>
            <div id="persuCont2">
                <div id="persuTit2">Prepárate para ese examen</div>
                <div id="persuInfo2">
                    Evalúa tus conocimientos con examenes práctica 🤯.
                </div>
            </div>
        </div>
    </section>
    <section id="queHacerInfo">
        <!--imagen tal vez -->
        <div id="queHacerInfoTit"> Modos de estudio</div>
        <div id="queHacerCont">
            <div id="hacerCont1">
                <div id="hacerTit1"> Práctica 🦾 </div>
                <div id="hacerInfo1">
                    Tendrás un examen al cual responder para evaluar tus conocimientos, y si no existe crear uno 👍
                </div>
            </div>
            <div id="hacerCont2">
                <div id="hacerTit2">⚡Flashcard⚡</div>
                <div id="hacerInfo2">Aprendizaje rápido y seguro mediante tarjetitas.</div>
            </div>
        </div>
    </section>
    <section></section> <!--poner más informacion-->

    
{% endblock body %} 