{% extends 'core/layout.html' %}
{% load static %}

{% block title %}
    HOME
{% endblock title %}

{% block body %}
    <section class="frase">
        {% comment %} <ul id="eslogan">
            <li><span id="es1"> Crea </span></li>
            <li><span id="es2"> Práctica </span></li>
            <li><span id="es3"> Aprende </span></li>
            <li><span id="es4"> PLANK </span></li>
        </ul> {% endcomment %}
        Crea, Práctica y Aprende
    </section>
    <section class="informacion">
        <div class="aventurateImg-container">
            <img id="aventurateImg" srcset="
                    {% static 'core/estudiando-460w.png' 460w%},
                    {% static 'core/estudiando-800w.png' 800w%},
                    {% static 'core/estudiando-1366w.png' 1366w%}" 
                    sizes="(max-width:600px) 400px,
                            (max-width: 800px) 800px,100%", 
                    src="{% static 'estudiando-1366w.png'%}" alt="estudiando"/>
        </div>
        <div class="infoContenedor">
            <div class="aventurate">
                <div id="aventurateTit">
                    Aventurate a nuevos temas
                    <!--tema-->
                </div>
                <div di="aventurateCont">
                    Puedes encontrar varias notas de estudio creadas por varios usuarios
                </div>
            </div>
            <div class="estudia">
                <div id="estudiaTit">
                    Prepar&aacutete para ese examen!
                    <!--tema-->
                </div>
                <div id="estudiaCont">
                    Con la opción de práctica no solo podrás crear tu propio cuestionario de
                    estudio puedes responder uno ya creado por algun otro usuario
                </div>
            </div>
        </div>
    </section>
    <section></section> <!--poner más informacion-->

    
{% endblock body %} 