{% extends 'core/layout.html' %}
{% load static %}
{% block cssPath %}
<link rel="stylesheet" href="{% static 'core/styleContent.css' %}"  type="text/css"/>
{% endblock cssPath %}

{% block title %}
    idk xd
{% endblock title %}

{% block body %}
    <div class="form-container"> 
        <div class="form">
            <form method = 'POST' action="{% url 'core:nuevaPractica' %}">
                {% csrf_token %}
                <div class="field-container">
                    <label class="field" id="titulo">Título </label><br/>
                    <div class="text-field">
                        {{form.titulo}}
                    </div>
                </div>
                <div class="field-container">
                    <label class="field" id="descripcion">Descripción</label><br/>
                    <div class="text-field">
                        {{form.descripcion}}
                    </div>
                </div>
                <div class="field-container">
                    <label class="field" id="tema">Tema</label><br/>
                    {{form.filtro}}
                </div>
                <br/>

                <div id="Preguntas">
                    <!--<div class="field-container" id="preguntas-container">
                            <button id="preguntaAbierta" type="button">Pregunta Abierta</button>
                            <button id="preguntaCerrada" type="button" style="margin-left: 5px;">Pregunta Cerrada</button>
                            <br>
                        <div class="field-container-pregs" id="pregunta">
                            <label class="field"> Pregunta</label><br/>
                            <div class="text-field">
                                {{pregA.planteamiento}}
                            </div>
                            <label class="field" >Respuesta</label><br/>
                            <div class="text-field">
                                {{pregA.respuesta}}
                            </div> 
                        </div>
                    </div>-->
                    <div id="titPreguntas">Preguntas </div>
                    {{abiertaFormset.non_form_errors}}
                    {{abiertaFormset.management_form}}
                    <table class="table">
                        {% for abierta in abiertaFormset %}
                        <tr>
                            <td>{{abierta.id}}</td>
                            <td>{{abierta.planteamiento}}</td>
                            <td>{{abierta.respuesta}}</td>

                        <!--<div class="inline {{abiertaFormset.prefix}}">
                        </div>-->
                        </tr>
                    {% endfor %}    
                    </table>     
                </div>
                
                <button id="add-more" type="button">+Abierta</button>
                <button id="add-Cerr" type="button">+Cerrada</button>
                <button class="form-button" type="submit">Subir!</button>
        </div>
    </div>
    {% comment %} Tal vez cambiar esto por un archivo propio {% endcomment %}

    <script type="text/javascript">
        $(document).ready(function(){
            $("#add-more").on("click",addItem);
        });
        function addItem(){
            let newElement = $(".table tr:last").clone(true); //Clonando la ultima fila
            //Obteniendo el total de forms, esto se saca con propiedad del inline_formset
            //con TOTAL_FORMS, por defecto el valor actual debe ser 1
            let total = $("#id_abiertas-TOTAL_FORMS").val();
            console.log(total); //prueba
            newElement.find(":input").each(function(){
                let name = $(this).attr("name").replace("-" + (total-1)+"-","-"+total+"-");
                let id = "id_"+name;
                //set los atributos y limpiando los valores
                $(this).attr({"name":name,"id":id}).val("");

            });
            //Aumentando el 1 la cantidad de formsets
            total++;
            $("#id_abiertas-TOTAL_FORMS").val(total);
            $(".table tr:last").after(newElement); //Añadiendo al final
            
        }
    </script>
{% endblock body %}