{% extends 'core/layout.html' %}
{% load static %}
{% block cssPath %}
    <link rel="stylesheet" href="{% static 'core/styleContent.css' %}"  type="text/css"/>
{% endblock cssPath %}

{% block title %}
    Nueva Practica
{% endblock title %}

{% block body %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <div class="form-container"> 
        <div class="form">
            <form method = 'POST' action="{% url 'core:nuevaPractica' %}">
                {% csrf_token %}
                <div class="formHeader">
                    <div class="formField-title">
                        <div class="textField">
                            {{form.titulo}}
                        </div>
                    </div>
                    <div class="formField">
                        <div class="textField">
                            {{form.descripcion}}
                        </div>
                    </div>
                    <div class="field-container" style="width: 100%;text-align: center;">
                        <label class="field" id="tema">Tema</label>
                        {{form.filtro}}
                    </div>
                    <br/>
                </div>
                
                

                <div class="Preguntas">
                    Preguntas xd
                    <div class="abiertas-list">
                        {% if abiertaFormset %}
                            {{abiertaFormset.non_form_errors}}
                            {{abiertaFormset.management_form}}
                            
                            {% for abierta in abiertaFormset %}
                                <div class="pregAbierta">
                                    {{abierta}}
                                </div>
                            {% endfor %}
                            
                        {% endif %}
                    </div>

                    <div class="cerradas-list">
                        {% if cerradaFormset %}
                            {{cerradaFormset.non_form_errors}}
                            {{cerradaFormset.management_form}}
                            {% for cerrada in cerradaFormset %}
                                <div class="pregCerrada">
                                    {{cerrada}}
                                </div>
                            {% endfor %}
                            {% comment %} {{form.nested.nested.management_form}}
                            {{form.nested.nested.form_errors}}
                            {{form.management_form}}
                            {{form.non_form_errors}} {% endcomment %}
                        {% endif %}
                        
                            {% if cerradaFormset.empty_form.nested %}
                                {{cerradaFormset.empty_form.nested.non_form_errors}}
                                {{cerradaFormset.empty_form.nested.management_form}}
                                {% for resp in cerradaFormset.empty_form.nested %}
                                    <div class="respCerrada">
                                        {{resp}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                    </div>

                    <div id="empty-ab" class ="hidden">
                        {{abiertaFormset.empty_form}}
                    </div>
                    <div id="empty-ce" class="hidden">
                        {{cerradaFormset.empty_form}}

                    </div>
                    <div id="empty-resp" class="hidden">
                        {{cerradaFormset.empty_form.nested.empty_form}}
                        {% comment %} {{form.empty_form.nested}} {% endcomment %}
                        {% comment %} {{form.empty_form.nested}} ESTE SI {% endcomment %}
                        {% comment %} {% for pregCerrada in form %} {% endcomment %}
                            {% comment %} {{pregCerrada.as_p}} {% endcomment %}
                            {% comment %} {{pregCerrada.nested.management_form}} {% endcomment %}
                                {% comment %} {% for respCe in pregCerrada %}
                                    {{respCe.as_p}}
                                {% endfor %}
                        {% endfor %} {% endcomment %}
                    </div>
                </div>
                
                
                <!--Botones para añadir preguntas-->
                <div class="addPreguntas">
                    <div class="btnWrapper">
                        <button class="addBtn" type="button">
                            <span class="material-symbols-rounded">
                                add
                            </span>
                        </button>
                        <button class="addPregAbierta" type="button">
                            <span class="material-symbols-rounded">
                                check_box_outline_blank
                            </span>
                        </button>
                        <button class="addPregCerrada" type="button">
                            <span class="material-symbols-rounded">
                                check_box
                            </span>
                        </button>
                    </div>
                </div>
                {% comment %} <button id="addBtn" type="button">+</button> {% endcomment %}
                <button class="form-button" type="submit">Subir!</button>
            </form>
            
        </div>
    </div>
    {% comment %} Tal vez cambiar esto por un archivo propio {% endcomment %}

    {% comment %} <script src={% static 'core/animacion.js' %}></script> {% endcomment %}
    <script src={% static 'core/addPreguntas.js' %}></script>
{% endblock body %}