{% extends 'core/layout.html' %}

{% load static %}

{%block cssPath%}
    <link rel="stylesheet" href="{% static 'core/styleContent.css' %}"  type="text/css"/>
{%endblock cssPath%}

{% block title %}
    {{practica.titulo}}
{% endblock title %}

{% block body %}

    <div class="document-container">
        <div class="container-center">
            <div class="center-xy">
                <p class="title">Práctica: {{ practica.titulo }}</p>
            </div>
        </div>
        

        <h3>Tema: {{ practica.filtro }}</h3>
        <h3>Voto: {{ practica.voto }}</h3>
        
        <h5>Descripción: {{ practica.descripcion }}</h5>
        <h5>Responda las siguientes preguntas:</h5>

        <div class="practica-contenido">
            <div>
                {% for abierta in abiertas %}
                    <div class="practica-pregunta">
                        <div class="enunciado">
                            Pregunta: {{ abierta }}
                            <div class="form-box">
                                <input class="input-box" type="text" id="{{ abierta.id }}" name="pregA{{ abierta.id }}" placeholder="respuesta">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                {% for cerrada in cerradas %}
                    <div class="practica-pregunta">
                        <div class="enunciado">
                            Pregunta: {{ cerrada }}
                        </div>
                        {% for respuesta in cerrada.get_respuestas %}
                            <div>
                                <div>
                                  <input type="radio" id="{{ respuesta.id }}" name="pregC{{respuesta.id}}" value="">
                                  <label for="pregunta">{{ respuesta.respuesta }}</label>
                                </div>
                            
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        
        </div>
        
    </div>

{% endblock body %} 