{% extends 'core/layout.html' %}

{% load static %}

{%block cssPath%}
    <link rel="stylesheet" href="{% static 'core/styleContent.css' %}"  type="text/css"/>
{%endblock cssPath%}

{% block title %}
    {{practica.titulo}}
{% endblock title %}

{% block body %}

    <div class="document-container">
        <div class="container-center">
            <div class="center-xy">
                <p class="title">Práctica: {{ practica.titulo }}</p>
            </div>
        </div>
        

        <h3>Tema: {{ practica.filtro }}</h3>
        <h3>Voto: {{ practica.voto }}</h3>
        
        <h5>Descripción: {{ practica.descripcion }}</h5>
        <h5>Responda las siguientes preguntas:</h5>
<!--{%url 'core:practica' id=practica.id%}-->
        <div class="practica-contenido">
            <form action="" id="exam-form" data-url="{%url 'core:practica' id=practica.id%}" method="post">
                {% csrf_token %}
                <div>
                    {% for abierta in abiertas %}
                        <div class="practica-pregunta">
                            <div class="enunciado">
                                Pregunta {{ forloop.counter }} : {{ abierta }}
                                <div class="form-box">
                                    <input class="input-box" type="text" id="{{ abierta.id }}" name="pregA{{ abierta.id }}" placeholder="respuesta">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    {% for cerrada in cerradas %}
                        <div class="practica-pregunta">
                            <div class="enunciado">
                               
                                Pregunta 
                                {% with lenAbiertas=abiertas|length %}
                                    {{ forloop.counter|add:lenAbiertas }}
                                {% endwith %}: {{ cerrada }}
                            </div>
                            {% for respuesta in cerrada.get_respuestas %}
                                <div>
                                    <div>
                                    <input type="radio" id="{{ respuesta.id }}" name="pregC{{cerrada.id}}" value="{{ respuesta.respuesta }}">
                                    <label for="{{ respuesta.respuesta }}">{{ respuesta.respuesta }}</label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                <div class="grade" id="grade">
                
                </div>

                <button id="grade-button" type="submit" class="btn btn-primary" name="submit" value="submit">¡Calificar!</button>
            </form>
        </div>
        <br>
        <div class="like-dislike">
            <p class="votos" id="votos">{{practica.voto}}</p>
            <!--Verifica si previamente el usuario había votado positivo(1), negativo(0) o no ha votado (-1)-->
            <button class="voto" id="positivo" data-catid="{{practica.id}}" {% if voto == 1%} value="selected" {%else%} value="unselected" {%endif%}>Me gusta :D</button>
            <button class="voto" id="negativo" data-catid="{{practica.id}}" {% if voto == 0%} value="selected" {%else%} value="unselected" {%endif%}>No me gusta >:(</button>
        </div>

    </div>

    <script>
        $('#positivo').click(function(){
            var catid;
            catid = $(this).attr('data-catid');
            $.ajax({
                type: 'POST',
                url: '{% url "voto:votoPract" %}',
                data:{
                    id : catid,
                    tipo : 1,
                    csrfmiddlewaretoken:"{{csrf_token}}",
                    action: 'post',
                },
                success: function(json){
                    document.getElementById("votos").innerHTML = json.voto
                    if( document.getElementById('positivo').getAttribute('value') == 'selected'){   /*Si se selecciona Positivo y estaba "Selected", cambia a "Unselected"*/
                        document.getElementById('positivo').setAttribute('value','unselected');
                    }else{                                                                          /*Si se selecciona Positivo y estaba "Unselected" cambia a "Selected"*/
                        document.getElementById('positivo').setAttribute('value','selected');
                        if(document.getElementById('negativo').getAttribute('value') == 'selected'){/*Si estaba seleccionado Negativo, Negativo cambia a "Unselected"*/
                            document.getElementById('negativo').setAttribute('value','unselected');
                        }
                    }
                },
                error: function(xhr,errmsg,err){}
            })
        });
        $('#negativo').click(function(){
            var catid;
            catid = $(this).attr('data-catid');
            $.ajax({
                type: 'POST',
                url: '{% url "voto:votoPract" %}',
                data:{
                    id : catid,
                    tipo: -1,
                    csrfmiddlewaretoken:"{{csrf_token}}",
                    action: 'post',
                },
                success: function(json){
                    document.getElementById("votos").innerHTML = json.voto
                    if( document.getElementById('negativo').getAttribute('value') == 'selected'){/*Si se selecciona Negativo y estaba"Selected", cambia a "Unselected"*/
                        document.getElementById('negativo').setAttribute('value','unselected');
                    }else{                                                                      /*Si se selecciona Negativo y estaba "Unselected" cambia a "Selected"*/
                        document.getElementById('negativo').setAttribute('value','selected');
                        if(document.getElementById('positivo').getAttribute('value') == 'selected'){/*Si estaba seleccionado Negativo, Positivo cambia a "Unselected"*/
                            document.getElementById('positivo').setAttribute('value','unselected');
                        }
                    }
                },
                error: function(xhr,errmsg,err){}
            })
        });
        $(document).ready(function(){
            var $form = $("#exam-form"); //agarra el formulario
            $form.submit(function(event){
                event.preventDefault(); //para que no se refresque la página
                let inputs = document.getElementsByTagName("input"); //obtiene todos los inputs
                let answers = {}; //objecto JSON que será convertido en diccionario python en el view
                for(let i = 0; i < inputs.length; i++){
                    if(inputs[i].name.includes('pregC')){ // para las preguntas cerradas
                        if(inputs[i].checked){ // solo agrega la que escogió el usuario
                            answers[inputs[i].name] = inputs[i].value;
                        }
                    }else if(inputs[i].name.includes('pregA')){ // para preguntas abiertas
                        answers[inputs[i].name] = inputs[i].value;
                    }    
                }

                let $endpoint = $form.attr("data-url"); //url del view
                $.ajax({
                    method:"POST",
                    data: {
                        url: $endpoint,
                        answers: JSON.stringify(answers),
                        csrfmiddlewaretoken:"{{csrf_token}}",
                        dataType: 'json'
                    },
                    success: function(json){
                        agregarCalificacion(json);
                    },
                    error: function(xhr,errmsg,err){
                    }
                })
            })
        })   
        const agregarCalificacion = (json) =>{
            let porcentaje = (json.grade / json.total) * 100; // califcacion en porcentaje

            gradeContainer = document.getElementById("grade"); //div que contiene la calificacion
            gradeContainer.innerHTML = `<p><b>Calificación: ${json.grade}/${json.total}: ${porcentaje}%<b></p>`
            gradeContainer.classList.add('enunciado', 'my-3');
            if(porcentaje < 60){
                // Calificación reprobatoria, fondo rojo
                if(gradeContainer.classList.contains('bg-success'))
                    gradeContainer.classList.remove('bg-success')
                gradeContainer.classList.add('bg-danger');
            }
            else{
                // calificación apbrobatoria, fondo verde
                if(gradeContainer.classList.contains('bg-danger'))
                    gradeContainer.classList.remove('bg-danger')
                gradeContainer.classList.add('bg-success');
            }
        } 
    </script>

{% endblock body %} 