@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

*{
    font-family: 'Asap', sans-serif;
    --plank-main-color:#713995;
}
/*navBar properties*/
header{
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo{
    height: 5.5em;
    padding: 10px 0 10px 30px;
}
.menuBar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    min-height: 8vh;
}
.burguer{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.burguer span{
    display: block;
    background-color: grey;
    height: 0.5em;
    width: 2.8em;
    margin: 0.5em 30px;
    border-radius: 4px;
}

.buttons{
    margin: 0.8em 2em 0 0;
    display: flex;
    align-items: baseline;
}
.buttons a{
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 1em 2em 1em;
    color: black;
    text-align: center;
    cursor: pointer;
    margin: 0 2em 0 0;
}
#sIn{
    background-color: #e6e6ea;
    color: black;
    border-radius: 12px;
}
#btnSUp{
    background-color:#713995;
    color:white;
    border-radius: 12px;
}
.navButtons{
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
}
.navButtons li{
    padding: 2em 4em 1em;
    display: inline-block;
}
.navButtons li a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: 550;
}
.navButtons li a:hover{
    border-bottom: 3px solid black;
    transition: all 0.2s ease 0s;
}
    /*=========HOME.HTML=========*/
/*Eslogan*/
#eslogan{
    font-family: 'Montserrat', sans-serif;
    margin: 1em auto 0;
    width: 70%;
    font-size: 5vw;
    text-align: center;
    align-items: center;
    font-weight: 900;
}
#imgnCentral{
    width: 70%;
    align-items: baseline;
    margin: 2vw auto 4vw;
    text-align: center;
}
#cntral{
    height: auto;
    width: 80%;
}
/*INFORMACION*/
#persuadirInfo,#queHacerInfo{
    margin: 6vw;
}
#persuadirInfoTit,#queHacerInfoTit{
    /* width: 80%; */
    display: flex;
    justify-content: center;
    margin: 5vw auto 3vw;
    font-weight: 700;
    font-size: 3vw;
}
#persuConts,#queHacerCont{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#persuCont1, #persuCont2, #hacerCont1,#hacerCont2{
    width: 40%;
    margin: 2vw auto 3vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 15px 50px;
}
#persuTit1, #persuTit2, #hacerTit1, #hacerTit2{
    font-weight: 600;
    font-size: 2vw;
    text-align: center;
    margin: 0 15px;
}
#persuInfo1, #persuInfo2, #hacerInfo1, #hacerInfo2{
    font-size: 1.5vw;
    text-align: center;
    padding: 2.5em 0 1em 0;
}

/*media queries si es menor a 768px entonces cambio a logo pequeño y el bar menu*/
@media screen and (max-width: 768px){
    .menuBar{
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.3em 0;
    }
    #logo{
        height: 3.8em;
        padding: 0 0 0 15px;
    }
    .burguer{
        display: block;
        position: absolute;
        top: 1.5em;
        right: 1.2em;
        /* overflow: hidden; */
    }
    .burguer span{
        transition: transform 0.65s;
    }
    /*ANIMACION MENU*/
    .br-1{
        top: 0;
        transform-origin: bottom left;
    }
    .br-3{
        bottom: 0;
        transform-origin: bottom left;
    }

    .br-1.abrir{
        transform: rotate(45deg);
    }
    .br-2.abrir{
        transform: translate(-1.875em);
        background: transparent;
        box-shadow: none;
    }
    .br-3.abrir{
        transform: translate(0.312em,-0.1em) rotate(-45deg);
    }
    /*toggle menu*/
    .navButtons{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
    }
    .navButtons li{
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .buttons{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0 1em 0;
        width: 90%;
        display: none;
    }
    .buttons a{
        font-size: 0.9em;
        margin: 1em auto;
        width: 100%;
        text-align: center;
    }
    /*cuando le de click*/
    .navButtons.activado{
        display: flex;
    }
    .buttons.abrir{
        display: flex;
    }
                /*=========HOME.HTML=========*/
    /*ESLOGAN*/
    .frase{
        margin: 1.5em auto;
        width: 100%;
    }
    #eslogan{
        width: 80%;
        font-size: 6.5vw;
        align-items: baseline;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*imagen central*/
    #imgnCentral{
        width: 90%;
    }
    #cntral{
        height: auto;
        width: 90%;
    }
    /*INFORMACION*/
    #persuadirInfoTit,#queHacerInfoTit{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 15vw auto 5vw;
        font-weight: 700;
        font-size: 4vw;
        text-align: center;
    }
    #persuConts,#queHacerCont{
        display: inline;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
    #persuCont1, #persuCont2, #hacerCont1,#hacerCont2{
        width: 90%;
        margin: 3vw auto 3vw;
        box-shadow: none;
        padding:2em auto 1em;
    }
    #persuTit1, #persuTit2, #hacerTit1, #hacerTit2{
        font-weight: 600;
        font-size: 3.5vw;
        text-align: center;
        margin: 0;
        padding: auto;
    }
    #persuInfo1, #persuInfo2, #hacerInfo1, #hacerInfo2{
        font-size: 3.2vw;
        text-align: center;
        align-items: baseline;
        padding: 20px 0;
    }
}

/*OVERRIDING BOOTSTRAP!*/
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--plank-main-color) !important;
    border: none !important;
}

/*GENERAL STYLES FOR ALL PAGES*/
button a{
    text-decoration: none;
}