.lab-container{
    border-radius: 20PX;
    margin-right: 30%;
    margin-left: 30%;
    background-color: #f8f8f8;/*#FEFAE0;*/
    text-align:center;
    padding-bottom: 35px;
}

.lab-container #title{
    text-align: left;
    padding-top: 15px;
    padding-left: 20px;
}

.lab-container .lista{
    overflow: hidden;
    background-color: #333;
    color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 15px;
}

.lab-container .lista option{
    background-color: white;
    color: black;
}

.lab-container button{
    background-color:#713995;
    color:white;
    border: 0;
    border-radius: 8px;
}

#buscar:disabled,#buscar[disabled]{
    background-color: grey;
}

#buscar:hover:enabled{
    background-color:#9647c7;
}

select {
    width: 30%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    /*background-color: #f1f1f1;*/
  }
/*       ESTILOS DE NUEVA PRACTICA     */
div.form-container, div.document-container{
    /* border:0; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    padding: 2%;
}

.formHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 4em;
    width: 100%;
    padding: 3em;
    border: 2px solid #00000033;
    border-radius: 20px;
}
.formField{
    margin: 3em auto;
    width: 100%;
}
.formField-title{
    font-size: 3em;
    width: 100%;
}
.hidden{
    display: none;
}

/*  ESTILOS PARA BOTON ADD */
.addPreguntas{
    display: grid;
    width: 0%;
    margin: 3em 0 2em auto;
}
.btnWrapper{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.2em;
}
.btnWrapper button{
    font-family: inherit;
    outline: none;
    border: none;
    background-color: white;
    padding-top: 3px;
    /* height: auto; */
    box-shadow:0px 0px 10px rgb(65, 65, 65);
    border-radius: 50%;
    cursor: pointer;
}
.material-symbols-rounded{
    vertical-align: text-bottom;
    color: rgb(91, 91, 91);
    transition: 500ms all cubic-bezier(0.785,0.18,0.415,1.65);
}
.addBtn:hover, .addPregAbierta:hover, .addPregCerrada:hover{
    transform: scale(1.1);
}
.addBtn{
    z-index:99;
    transition: 500ms all cubic-bezier(0.785,0.18,0.415,1.65);
}
.addPregAbierta, .addPregCerrada{
    position: relative;
    bottom: 3em;
    opacity: 0;
    transform: rotatez(-45deg);
    transition: 500ms all cubic-bezier(0.785,0.18,0.415,1.65);
    pointer-events: none;
}
.addPregAbierta.open,
.addPregCerrada.open{
    opacity: 1;
    bottom:0;
    transform: rotatez(0deg);
    pointer-events: auto;
}
.addBtn.open span{
    transform: rotateZ(135deg);
}
/* .btnWrapper button span{
 vertical-align: text-bottom;
} */
/*Aca termina nuevaPractica style*/

.textField input{
    border: 1px solid white;
    outline: none;
    width: 100%;
}
.textField input:focus{
    border-bottom:1px solid grey;
}
/*quitar el border-box del input*/
.field-container select{
    background-color: #f1f1f1;
    color: black;
}

.field-container option{
    background-color: white;
}

.fieldContenido {
    margin-left: 100px;
    align-content: center;
}

.form .field-container .field{
    margin: 8px 0;
}

.field{
    font-weight: bolder;
}

button.form-button{
    background-color:#713995;
    color:white;
    margin: 30px 0px 40px;
    padding: 8px 16px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bolder;
}

/*
intput[type=text]{
    width: 80%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
*/
h1#titulo{
    font-weight: bold;
}

.document-content{
    width: 90%;
}

/*Estilo de botones positivo-negativo*/
.like-dislike{
    white-space: nowrap;
}
.votos, .voto{
    display: inline-block;
}

.voto{
    border: 0;
    margin: 0px 2px;
}

#positivo[value='selected']{
    color: #70e000;
}

#negativo[value='selected']{
    color: red;
}

.voto :hover{
    background-color: #333;
}

.container-center {
    height: 6rem;
    position: relative;
    border-radius: 15px;
    background-color: #f8f8f8;
    margin-bottom: 1rem;
}
  
.center-xy {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title{
    font-size: xx-large;
    font-weight: bolder;
}

@media screen and (max-width: 600px){
    .title{
        font-size: large;
    }
}

.enunciado{
    font-size: large;
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 15px;
}

.practica-pregunta{
    margin-bottom: 2em;
}

.form-box{
    margin-top: 1rem;
}

.input-box {
    width: 100%;
    height: 3em;
}

.practica-contenido{
    margin-top: 2rem;
}