@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
body, html{
    height: 2000px;
}
/*navBar properties*/
header{
    overflow: hidden;
    box-sizing: border-box;
}
#logo{
    height: 5em;
    padding: 15px 0 0 30px;
}
.menuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    margin: 0 2em 0;
}
.buttons a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 1em 2em 1em;
    color: black;
    text-align: center;
    cursor: pointer;
}
#btnSUp{
    background-color:#713995;
    color:white;
    border-radius: 12px;
    margin: 15px 0 0;
}
.navButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navButtons a{
    padding: 30px 30px;
}
/*Eslogan*/
.frase{
    margin: 1em auto 15vw;
    width: 50%;
    font-size: 4vw;
    text-align: center;
    align-items: center;
}
/* #eslogan{
    list-style: none;
}
#eslogan li{
    text-decoration: none;
    font-weight: 800;
    font-size: 8vw;
    margin-bottom: 3em;
} */
/*INFORMACION*/
.informacion{
    position: relative;
    padding: 48px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.infoContenedor{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    justify-content: left;
    text-align: justify;
    font-size: 2vw;
    overflow: hidden;
    align-items: center;
}
.aventurate{
    margin: 8vw 6em 6vw 1vw;
}
#aventurateTit{
    font-weight: 700;
    font-size: 1.2em;
    padding-bottom: 10px;
}
#estudiaTit{
    font-weight: 700;
    font-size: 1.2em;
    padding-bottom: 10px;
}
.aventurateImg-container{
    position: sticky;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    display: flex;
    top: 4.2em;
}
#aventurateImg{
    float: right;
    height: 20vw;
}
.estudia{
    margin: 38vw 6em 30vw 1vw;
}
.registrarseContainer{
    margin: 76vw auto 6vw;
    width: 50%;
    text-align: center;
    font-size: 2vw;
}



/*media queries si es menor a 600px entonces cambio a logo pequeño y el bar menu*/
@media screen and (max-width: 700px){
    /*.buttons a:not(:last-child){display: none;}*/ /*solo muestro el sign-up*/
    .menuBar a{
        float: right;
        display: block;
    }
    .buttons{
        margin: 0 1em 0;
        align-items: center;
    }
    .buttons a{
        font-size: 0.7em;
        margin: 0 auto;
    }
    #logo{
        height: 3em;
        padding: 13px 0 0 20px;
    }
    /*ESLOGAN*/
    .frase{
        font-size: 2em;
        margin: 1.5em auto;
        width: 100%;
    }
    #eslogan{
        text-align: center;
        padding: 0 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    #eslogan li{
        font-weight: 600;
        font-size: 0.5em;
    }
    /*INFORMACION*/
   .informacion{
        max-width: 100%;
        position: unset;
        display: inline;
        flex: none;
    }
    .infoContenedor{
        max-width: 100%;
    }
    .aventurate{
        max-width: 100%;
        margin: 3em 1em ;
        overflow: hidden;
        font-size: 1.5em;
        position: unset;
        float: none;
        padding: 0 0;
        /*margin: 0 1em 3em;*/
    }
    .aventurateImg-container{
        position: unset;
        width: 100%;
    }
    #aventurateImg{
        float: none;
        height: auto;
        width: 100%;
    }
    .estudia{
        max-width: 100%;
        margin: 3em 1em;
        overflow: hidden;
        font-size: 1.5em;
        float: none;
    }
}
