{% extends 'core/layout.html' %} 
{% block title %} Mis Flashcards {% endblock title %} 
{% block body %}
<main class="pt-5">
  <div class="container" style="max-width: 1000px">
    <h1>Flashcards que has creado</h1>
    <div class="row g-3">
      <div class="col-md-7 col-lg-8 p-0">
        {% for f in flashcards %}
        <div data-index="{{product.id}}" class="row mb-4 border product-item">
          <div class="col-md-3 col-lg-2 order-md-first bg-light">
            <img
              class="img-fluid mx-auto d-block"
              style="height: 225px; width: 100%; display: block"
              alt="Responsive image"
              src="{{ f.get_filtro_pic_url}}"
            />
          </div>
          <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
            <a
              href="{{ f.get_absolute_url }}"
              class="text-decoration-none text-reset"
            >
              <h1 class="h5 pt-2">{{ f.titulo }}</h1>
            </a>
            <div class="border">
              <div class="col border-bottom">
                <div class="row p-3">
                  <div class="col-6">Tema: {{f.filtro}}</div>
                  <!--<div class="col-6 text-end"><span class="h6 fw-bold">${{ product.price }}</span></div>-->
                </div>
              </div>
              <div class="col">
                <div class="row p-3">
                  <div class="col-12">{{f.descripcion}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock body %}
