{% extends 'core/layout.html' %} 

{% block title %} Mis Practicas1 {% endblock title %} 

{% block body %}
<main class="pt-5">
  <div class="container" style="max-width: 1000px">
    <h1>Practicas que has creado</h1>
    <div class="row g-3">
      <div class="col-md-7 col-lg-8 p-0">
        {% for p in practicas %}
        <div data-index="{{product.id}}" class="row mb-4 border product-item">
          <div class="col-md-3 col-lg-2 order-md-first bg-light">
            <img
              class="img-fluid mx-auto d-block"
              width="120px"
              alt="Responsive image"
              src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17fc2c4cc35%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17fc2c4cc35%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.82500076293945%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
            />
          </div>
          <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
            <a
              href="{{ p.get_absolute_url }}"
              class="text-decoration-none text-reset"
            >
              <h1 class="h5 pt-2">{{ p.titulo }}</h1>
            </a>
            <div class="border">
              <div class="col border-bottom">
                <div class="row p-3">
                  <div class="col-6">Tema: {{p.filtro}}</div>
                </div>
              </div>
              <div class="col">
                <div class="row p-3">
                  <div class="col-12">{{p.descripcion}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock body %}
