{% extends 'core/layout.html' %}
{% load static %}

{%if user.is_authenticated %}

{% block cssPath %} 
    <link rel="stylesheet" href="{% static 'user/modificarPerfil.css' %}"  type="text/css"/>
{% endblock cssPath %}

{%block title %}
  Modificar Perfil
{% endblock title%}
     
{% block body %}
<div class="document-container">
  <div class="form-container">
    <div class="form">
      <div id="nombres">
          <h1 id="form-title">Modifica tu Perfil</h1>
          <form method="POST" enctype="multipart/form-data" instance="request.user.imagenPerfil">
              {% csrf_token %}
              {{form.as_p | safe }}
              <div class="button-container">
                <button class="btn btn-primary" type="submit" name="Update">Aplicar cambios</button>
              </div>
          </form>
      </div> 
    </div>
</div>
</div>

{% endblock body %}

{% else %}

  <H1>Repámpanos! Parece que tu sesión no está iniciada, buen intento, querido tramposo.</H1>

{% endif %}