{% extends 'core/layout.html' %} {% load static %} {% block cssPath %}
<link
  rel="stylesheet"
  href="{% static 'user/userHome.css' %}"
  type="text/css"
/>
{% endblock cssPath %}

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>

{% block title %} Plank {% endblock title %} {% block body %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hola {{ user.nombreCompleto }}</h1>
    <p class="lead text-muted">
      Something short and leading about the collection below—its contents, the
      creator, etc. Make it short and sweet, but not too short so folks don't
      simply skip over it entirely.
      <i class="fa-solid fa-user"></i>  <!--Para qué es esto? xd TE VALGA VERGA .i.-->
    </p>
    <p>
      <a href="{%url 'core:nuevoDocumento' %}" class="btn btn-primary my-2">Crear Flashcards</a>
      <a href="{%url 'core:nuevaPractica' %}" class="btn btn-primary my-2">Crear Practicas</a>
    </p>
  </div>
</section>


<div class="container">
  <div class="encabezado">
    <h2>Flashcards Trending</h2>
  </div>
  <div class="album py-5 bg-light" id="flashcards">
    <div class="container" id="container-flashcards">
      <div class="row">
        {%for f in flashcard%}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-title">Tema: {{f.filtro}}</div>
            <div class="img-container">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                style="height: 225px; width: 100%; display: block"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17fc2c4cc35%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17fc2c4cc35%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.82500076293945%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                data-holder-rendered="true"
              />
            </div>
            <div class="card-body">
              <p class="card-text">
                {{f.descripcion}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <div class="buttonRows">
                    <div class="buttons1 no-padding">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                        disabled
                      >
                        {%if f.voto >= 0 %}
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        {%else%}
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        {%endif%}
                      </button>
                    </div>
                    <div class="numero-votos" >
                      <span > {{f.voto}} </span>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  <a href="{{ f.get_absolute_url }}"><small class="">Ver más</small></a>
                </button>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="encabezado">
    <h2>Prácticas Trending</h2>
  </div>
  <div class="album py-5 bg-light" id="flashcards">
    <div class="container" id="container-flashcards">
      <div class="row">
        {%for p in practica%}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-title">Tema: {{p.filtro}}</div>
            <div class="img-container">
              <img
                class="card-img-top"
                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                alt="Thumbnail [100%x225]"
                style="height: 225px; width: 100%; display: block"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17fc2c4cc35%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17fc2c4cc35%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.82500076293945%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                data-holder-rendered="true"
              />
            </div>
            <div class="card-body">
              <p class="card-text">
                {{p.descripcion}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <div class="buttonRows">
                    <div class="buttons1 no-padding">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                        disabled
                      >
                        {%if p.voto >= 0 %}
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        {%else%}
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        {%endif%}
                      </button>
                    </div>
                    <div class="numero-votos" >
                      <span > {{p.voto}} </span>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  <a href="{{ p.get_absolute_url }}"><small class="">Ver más</small></a>
                </button>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>    
  </div>
</div>

{% endblock body %}